[submodule "Shared"]
	path = Shared
	url = https://github.com/B0bUy/Talaorasan-Shared.git
[submodule "Server"]
	path = Server
	url = https://github.com/B0bUy/Talaorasan-Server.git
[submodule "FrontEnd-Web"]
	path = FrontEnd-Web
	url = https://github.com/B0bUy/Talaorasan-FrontEnd-Web.git
